@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@import url(https://fonts.googleapis.com/css?family=Gentium+Book+Basic);
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body {
  font-family: 'Gentium Book Basic', Georgia, "Times New Roman", Times, serif;
  background: #f3f3f3;
}
h1 {
  font-size: 40px;
  font-size: 2.5rem;
}
h2 {
  font-size: 28px;
  font-size: 1.75rem;
}
h3 {
  font-size: 25px;
}
h3.experience-title {
  font-size: 22px;
}
h4 {
  font-size: 20px;
}
h4.experience-timeline {
  font-size: 18px;
  font-style: italic;
}
h4.skillset-title {
  font-size: 16px;
}
.badge {
  max-height: 150px;
  max-width: 100%;
  background: #dadada;
  padding: 0.5em;
  float: left;
  margin-right: 20px;
}
.header {
  padding: 20px 6%;
  border-bottom: 2px solid #a0dbf9;
  max-width: 100%;
  background: #fff;
}
.header h1 {
  font-weight: bold;
  margin: 0;
}
.header .contact {
  float: right;
  list-style-type: none;
}
.content {
  padding: 20px 0;
  border-bottom: 2px solid #dadada;
  min-height: 200px;
}
.section-experience {
  padding: 20px 0;
  border-bottom: 1px solid #dadada;
}
.section-experience:first-child {
  padding-top: 0;
}
.section-experience:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.skillset {
  clear: both;
  margin-bottom: 20px;
  overflow: auto;
}
.skillset:last-child {
  margin-bottom: 0;
}
ul {
  margin-bottom: 0;
}
ul.skills {
  list-style-type: none;
  margin: 0;
}
ul.skills li {
  float: left;
  display: inline-block;
  border: 1px solid #dadada;
  border-radius: 10px;
  padding: 5px 15px;
  margin: 0 5px 5px 0;
  background: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}
@media screen and (max-width: 639px) {
  .header {
    text-align: center;
  }
  .header .contact {
    text-align: left;
  }
  .badge {
    float: none;
    margin: 0 auto;
  }
}
